HTML, BODY {
	font-family: Arial;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #363636;
}
.coto {
	background-color: #E2E2E2;
	width: 600px;
	height: auto;
	border-radius: 20px;
	font-size: 20px;
	margin: auto;
	margin-bottom: 20px;
	text-align: center;
	content-align: center;
	opacity: 0.8;
}

.zalety {
	background-color: #E2E2E2;
	width: 600px;
	height: auto;
	border-radius: 20px;
	font-size: 20px;
	margin: auto;
	margin-bottom: 20px;
	text-align: center;
	content-align: center;
	opacity: 0.8;
}

.wady {
	background-color: #E2E2E2;
	width: 600px;
	height: auto;
	border-radius: 20px;
	font-size: 20px;
	margin: auto;
	margin-bottom: 20px;
	text-align: center;
	content-align: center;
	opacity: 0.8;
}

.zastosowanie {
	background-color: #E2E2E2;
	width: 600px;
	height: auto;
	border-radius: 20px;
	font-size: 20px;
	margin: auto;
	margin-bottom: 20px;
	text-align: center;
	content-align: center;
	opacity: 0.8;
}

.programy {
	background-color: #E2E2E2;
	width: 600px;
	height: auto;
	border-radius: 20px;
	font-size: 20px;
	margin: auto;
	margin-bottom: 20px;
	text-align: center;
	content-align: center;
	opacity: 0.8;
}

.pliki {
	background-color: #E2E2E2;
	width: 600px;
	height: auto;
	border-radius: 20px;
	font-size: 20px;
	margin: auto;
	text-align: center;
	content-align: center;
	opacity: 0.8;
}

#Sglowna {
	background-color: #E2E2E2;
	width: auto;
	height: 800px;
	margin: 20px;
	font-size: 20px;
	border-radius: 20px;
	text-align: center;
	opacity: 0.8;
}

.inf {
	background-color: #E2E2E2;
	width: 600px;
	height: auto;
	border-radius: 20px;
	font-size: 20px;
	margin: auto;
	margin-bottom: 20px;
	text-align: center;
	content-align: center;
	opacity: 0.8;
}

.roz {
	background-color: #E2E2E2;
	width: 600px;
	height: auto;
	border-radius: 20px;
	font-size: 20px;
	margin: auto;
	margin-bottom: 20px;
	text-align: center;
	content-align: center;
	opacity: 0.8;
}

.kol {
	background-color: #E2E2E2;
	width: 600px;
	height: auto;
	border-radius: 20px;
	font-size: 20px;
	margin: auto;
	margin-bottom: 20px;
	text-align: center;
	content-align: center;
	opacity: 0.8;
}

.gle {
	background-color: #E2E2E2;
	width: 600px;
	height: auto;
	border-radius: 20px;
	font-size: 20px;
	margin: auto;
	margin-bottom: 20px;
	text-align: center;
	content-align: center;
	opacity: 0.8;
}

.res {
	background-color: #E2E2E2;
	width: 600px;
	height: auto;
	border-radius: 20px;
	font-size: 20px;
	margin: auto;
	margin-bottom: 20px;
	text-align: center;
	content-align: center;
	opacity: 0.8;
}
.zdj12 {
	height: auto;
	width: auto;
	margin: auto;
}
#text {
	margin: auto;
	padding: 0px 0px 0px 0px;
	font-size: 17px;
}

#szablon {
	width: auto;
	margin-left: auto;
	align-content: center;
	background-color: #E2E2E2;
}
#linki {background-color: none;
	padding: 10px;
	height: 60px;}
DIV {padding: 10px;}
A {text-decoration: none;}
UL {float: left;
	width: 100%;
	list-style: none;
	padding: 5px;
	margin: 0px;
	}
UL LI A {background-color: none;
	display: block;
	float: left;
	width: 160px;
	height: 40px;
	padding-top: 5px;
    padding-bottom: 5px;
	text-align: center;
	font-weight: bold;
    color: black;
    font-family: 'Times New Roman', Times, serif; 
	}
	UL LI A:hover {
		background-color: #363636;
		color: #E2E2E2;
	}

footer {
	background-color: #363636;
	padding: 35px;
	text-align: center;
	color: white;
}
#zdj {
	margin: 50px;
}

#foto {
	width: 33%;
	float: left;
}

#foto2 {
	width: 33%;
	float: left;
}

#foto3 {
	width: 33%;
	float: left;
}

.11 {
	float: left;
}

.12 {
	float: left;
}

.13 {
	float: left;



